{% extends "base.html" %}
{% block title %}{{team.abb}}{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row" style="display:flex; align-items:center;" >
        <div class="col">
            <h1><img src={{team.logo_url}} alt={{team.abb}} style="height: 100px;"/>     {{team.name}}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4>GM</h4><h6><a href="/player/{{gm.playerID}}">{{gm.playerName}}</a><br><a href="/player/{{cogm.playerID}}">{{cogm.playerName}}</a></h6>
        </div>
        <div class="col">
            <h4>Captains</h4><h6>{% if captain1 %}<a href="/player/{{captain1.playerID}}">{{captain1.playerName}}</a><br>{% endif %}<a href="/player/{{captain2.playerID}}">{{captain2.playerName}}</a><br><a href="/player/{{captain3.playerID}}">{{captain3.playerName}}</a></h6>
        </div>
        <div class="col">
            <h4>Committee</h4><h6><a href="/player/{{committee1.playerID}}">{{committee1.playerName}}</a><br><a href="/player/{{committee2.playerID}}">{{committee2.playerName}}</a></h6>
        </div>
        <div class="col">
            <h4>Awards</h4><h6><a href="/player/{{awards1.playerID}}">{{awards1.playerName}}</a><br><a href="/player/{{awards2.playerID}}">{{awards2.playerName}}</a></h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4>Park: {{park.parkName}}</h4>
<table align="center" class="table table-striped table-hover">
    <tr>
        <th>HR</th>
        <th>3B</th>
        <th>2B</th>
        <th>1B</th>
        <th>BB</th>
    </tr>
    <tr>
        <td>{{park.rangeHR}}</td>
        <td>{{park.range3B}}</td>
        <td>{{park.range2B}}</td>
        <td>{{park.range1B}}</td>
        <td>{{park.rangeBB}}</td>
    </tr>
</table>
    </div>
</div>
<br>
<h4>Roster</h4>
<table align="center" class="table table-striped table-hover">
    <tr>
        <th style="width:5%;">ID</th>
        <th style="width:40%;">Name</th>
        <th style="width:20%;" colspan="3">Positions</th>
        <th style="width:10%;">Hand</th>
        <th style="width:10%;">Batting Type</th>
        <th style="width:10%;">Pitching Type</th>
        <th style="width:10%;">Hand Bonus</th>
    </tr>
    {% for p in roster %}
    <tr>
        <td>{{p.playerID}}</td>
        <td><a href="/player/{{p.playerID}}">{{p.playerName}}</a></td>
        <td>{{p.priPos}}</td>
        <td>{{p.secPos}}</td>
        <td>{{p.tertPos}}</td>
        <td>{{p.hand}}</td>
        <td>{{p.batType}}</td>
        <td>{{p.pitchType}}</td>
        <td>{{p.pitchBonus}}</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}
